<center>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/insert" method="post">
collegename:<input type="text" name="collegename"><br>
collegecode:<input type="text" name="collegecode"><br>
collegeaddress:<input type="text" name="addcollege"><br>
phoneno:<input type="text" name="phoneno"><br>
emailid:<input type="text" name="emailid"><br>
  contactname:<input type="text" name="contactname"><br>
  contactnumber:<input type="text" name="conatactnumber"><br>
  <input type="submit" value="submit">
